.intro {
  line-height: 250%;
  margin: 8% auto 6% auto;
  padding: 3%;
}
.intro h3 {
  display: flex;
  justify-content: center;
  color: #181d31;

}
.intro h3::selection {
    background-color: #181d31;
    color: #fdf6f0;
}
.intro h1 {
  display: flex;
  justify-content: center;
  color: #181d31;
}
.intro h1::selection {
    background-color: #181d31;
    color: #fdf6f0;
}
.links li {
  list-style-type: none;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 2%;
}
.links {
  display: flex;
  justify-content: center;
}


